.information {
    width: 60%;
    margin-top: 5%;
    align-self: center;
    justify-self: start;
    display: flex;
    justify-content: center;

}

#peeter {
    font-size: 120%;
}

#tarv {
    margin-left: 15%;
    font-size: 120%;

}

#pers {
    margin-left: 30%;
    font-size: 120%;


}

#page {
    margin-left: 55%;
    font-size: 120%;


}

#pictures {
    display: flex;
    width: 75%;
    height: 75%;
    min-width: 75%;
    min-height: 75%;
    WebkitOverflowScrolling: touch;
    transition: left .3s ease-out, right .3s ease-out;
    margin-top: 30px;
    border-radius: 50px;
}

#pictures:hover {
    border: #435fc4 3px solid;
    transition: all .1s ease-out;
    cursor: pointer;

}

.information #intro {
    align-self: center;
}

@media screen and (max-width: 700px) {
    .information{
        width: 100%;
    }
}
