
#header {
    width: 18%;
    display: flex;
    position: absolute;
    height: 100%;
}
#header .pro-sidebar {
    height: auto;
    text-align: center;
    transition: left .3s ease-out, right .3s ease-out;


}
#header .closemenu {
    color: snow;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;

}
#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    border: snow 1px solid;
    color: snow;

}
#header .pro-sidebar.collapsed {
    width: 200px;
    min-width: 80px;
    border: snow 1px solid;

}
#header .pro-sidebar-inner {
    background-color: rgba(6, 6 ,51, 1);
    box-shadow: snow;
}
#header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
    padding-top: 20px;

}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    color: snow;
    font-weight: bold;

}

#header .pro-sidebar-inner .pro-sidebar-layout .logotext p a {
    font-size: 20px;
    padding: 0 20px;
    color: snow;
    font-weight: bold;
}


#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: snow;
    margin: 10px 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    WebkitOverflowScrolling: touch;
    transition: left .3s ease-out, right .3s ease-out;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item a {
    color: snow;
    transition: left .3s ease-out, right .3s ease-out;

}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: snow;
    color: #000;
    border-radius: 3px;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
}

#header .pro-sidebar-inner .pro-sidebar-layout .active {
    transition: all 0.09s ease-in-out;
}

#header .pro-sidebar-inner .pro-sidebar-layout .active:hover {
    border: 2px snow solid;
    transition: all 0.09s ease-in-out;
}


#header .logo {
    padding: 20px;
}

@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}

#header .pro-inner-item . {
    color: snow;
}