.projects-container {
    width: 60%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.projects {
    margin: 10%;
}

.header {
    margin-left: 30px;
    font-size: 50px
}