

.project-container {
    padding: 5%;
    width: 90%;
    display: flex;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    align-content: center;
    box-shadow: 2px 2px 4px 2px;
    border-radius: 10px;
}


#active {
    height: auto;
    transition: all .6s ease-in-out;

}

#muted {
    height: 50px;
    transition: all .6s ease-in-out;

}

.project-container:hover {
    cursor: pointer;
    border-bottom: mediumseagreen 10px solid;
    border-bottom-left-radius: 10px;

}

#id {
    list-style: none;
}

li {
    padding-bottom: 10px;
    transition: max-height 0.15s ease-out;
}

.Tech {
    display: flex;
    flex-direction: column;
}