

.project-container {
    padding: 5%;
    width: 90%;
    display: flex;
    background: snow;
    color: black;
    transition: left .3s ease-out, right .3s ease-out;
    margin-top: 10px;
    align-content: center;
    box-shadow: -15px 5px 50px;
}

.project-container:hover {
    cursor: pointer;
    border: 5px white solid;
    border-radius: 50px;
}

#id {
    list-style: none;
}

li {
    padding-bottom: 10px;
}

.Tech {
    display: flex;
    flex-direction: column;
}