.button {
    border: 3px solid snow;
    width: 15%;
    margin-top: 50px;
    align-self: end;
    background: black;
    color: snow;
    padding: 15px;
    border-radius: 30px;
}

.button:hover {
    color: lightgoldenrodyellow;
}

.project-container {
    border: 3px solid black;
    padding: 5%;
    width: 90%;
    display: flex;
    background: linen;
    color: black;
    transition: left .3s ease-out, right .3s ease-out;
    margin-top: 10px;
    align-content: center;
}

#id {
    list-style: none;
}

li {
    padding-bottom: 10px;
}