.technologiesPanel {
    width: 60%;
}

.header {
    font-size: 200%;

}


.item {
    margin: 10px;
    float: left;
    margin-right: 10%;
}

.list {
    list-style: none;
    display: block;
    overflow: hidden;
}