.technologiesPanel {
    width: 60%;
}

.header {
    margin-left: 30px;
    font-size: 50px
}

.item {
    margin: 10px;
    float: left;
    margin-right: 10%;
}

.list {
    list-style: none;
    display: block;
    overflow: hidden;
}