.technologiesPanel {
    width: 80%;
}

.header {
    font-size: 200%;
    margin-left: 5%;
    align-self: flex-start;

}
@media screen and (max-width: 700px) {
    .technologiesPanel {
        width: 100%;
    }
}

.item {
    margin: 10px;
    float: left;
    margin-right: 10%;
}

.list {
    list-style: none;
    display: block;
    overflow: hidden;
    margin-left: 5%;

}