.contact-container {
    height: 70%;
    width: 80%;
    margin-bottom: 10%;
    align-content: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    box-shadow: -1px 1px 5px;
    align-self: center;

}
.form {
    display: flex;
    padding: 2%;
    height: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.button {
    justify-self: center;
    align-self: center;
    color: white;
    border-radius: 50px 50px;
    width: 15%;
    min-width: 50px;
    height: 6vh;
    margin: 2%;
    font-size: 80%;
    font-weight: bold;

    transition: width .3s, height .3s, background-color .3s, transform 2s;
    -webkit-transition: width .3s, height .3s, background-color .3s, transform 2s;
    -o-transition: width .3s, height .3s, background-color .3s, transform 2s;
    -moz-transition: width .3s, height .3s, background-color .3s, transform 2s;

   background: rgba(21, 21, 41, 1);

}

.button:hover {
    cursor: pointer;
    width: 20%;
    height: 8vh;
    opacity: 1;
    background:rgba(21, 21, 41, 0.9);
;


}

h1 {
    font-weight: bold;
    align-self: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 50%;
    align-self: center;
    height: auto;

}

#name-input {
    width: 100%;
    height: 12%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 60%;

}

#email-input {
    width: 100%;
    height: 12%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 60%;


}

#subject-input {
    width: 100%;
    height: 12%;
    align-self: center;
    margin-bottom: 10px;
    font-size: 60%;

}
#message-input {
    width: 180%;
    height: 30vh;
    align-self: center;
    margin-bottom: 10px;
    font-size: 60%;
}

.success-message {
    background: rgba(28, 135, 87, 1);
    color: white;
    width: 60%;
    height: 10vh;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 5px;
    transition: all .2s ease-in;

}

.fail-message {
    background: red;
    color: white;
    width: 60%;
    height: 10vh;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 5px;
    transition: all .2s ease-in;

}

@media screen and (max-width: 700px) {

   .contact-container {
       width: 95%;
       align-self: center;
   }

    #email-input {
        width: 180%;

    }

    #subject-input {
        width: 180%;
    }

    #name-input {
        width: 180%;
    }
    #message-input {
        width: 180%;
    }
}