
body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(45deg, rgba(12, 29, 56, 1), snow) no-repeat;
}

.container {
    max-width: 100%;
    line-height: 1.6;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    display: flex;
    display: -moz-box; /* Firefox*/
    display: -webkit-box; /* Chrome */
    display: -ms-flexbox; /* IE 10 */
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: auto;
    min-width: 1000px;
    margin: auto;
}

#list {
    list-style: none;
}