
:root {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    color: black;
    font-weight: bold;
    background: #e8ded1;
    font-family: "FuturaPT", Helvetica, Arial, sans-serif;
    font-size: 16px;

}
body::-webkit-scrollbar {
    width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 50px;

}

.container {
    line-height: 1.6;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Inter', sans-serif;
    align-items: center;
    max-width: 100% !important ;
    padding: 0 !important;

}

#list {
    list-style: none;
}


.container .main-container-block {
    display: flex;
    align-self: center;
    min-width: 80%;
    flex-direction: column;
    align-items: center;
    margin-inline: 5%;
}

