
body {
    margin: 0px;
    padding: 0px;
    color: snow;
    font-weight: bolder;
    background: url('./components/images/popart.jpg') center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

}

.container {
    max-width: 100%;
    line-height: 1.6;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    display: flex;
    display: -moz-box; /* Firefox*/
    display: -webkit-box; /* Chrome */
    display: -ms-flexbox; /* IE 10 */
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    font-family: 'Inter', sans-serif;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;


}

#list {
    list-style: none;
}

.container .main-container-block {
    display: flex;
    align-self: flex-end;
    width: 80%;
    min-width: 80%;
    align-items: center;
    flex-direction: column;

}